.intpage {
    display: flex;
    border-bottom: 7px solid black;
}

.Image{
    margin: 0 10px;
}
.Text{
    text-align: center;
    font-size: 30px;
    margin-right: 150px;
    width:85%;
    color: #ffffff;

    }

.bttns{
    display: inline-block;
    display: flex;
    border-bottom: 7px solid black;
}
.b1{
    text-align: left;
    a:link, a:visited {
    background-color: #000;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    margin-right: 50%;
    }
margin-top: 10px;
margin-bottom: 10px;
}

.b2{
    text-align: center;
    a:link, a:visited {
    background-color: #000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

margin-top: 10px;
margin-bottom: 10px;
}

body{
    background-color: #ad77d9;
    }
    

p{
    text-align: center;
    font-family: 'Lucida Console', "Lucida Console", monospace;
    }
