body{
    background-color: #c78df7;
    }
    
    h1{
        text-align: topcenter;
        font-size: 60px;
        color: #ffffff;
    }
    p{
        text-align: center;
        font-family: 'Lucida Console', "Lucida Console", monospace;
    }
    .pholder{
    object-position: topleft;
    }
    .pholder2{
        object-position: topleft;
        }
    