.intpage {
    display: flex;
}

.Image{
    margin: 0 10px;
}
.Text{
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    }

body{
    background-color: #c78df7;
    }
    

p{
    text-align: center;
    font-family: 'Lucida Console', "Lucida Console", monospace;
    }

